indices
__pycache__
*experiment*.txt

*.png
*.pdf
!figures/*.pdf
!figures/*.png

*.so
generate_datasets/temp
build
.cache
compile_commands.json
window_ann.egg-info
experiments/index_cache
experiments/results
experiments/tmp.py
experiments/*results*
